@model Otelwebsitesi.Models.hakkimizda

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>hakkimizda</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaBilgi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaBilgi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaBilgi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaResim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaResim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaResim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaBaslik, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaBaslik, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaBaslik, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdasatir1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdasatir1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdasatir1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdasatir2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdasatir2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdasatir2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdasatir3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdasatir3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdasatir3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdasatir4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdasatir4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdasatir4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdasatir5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdasatir5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdasatir5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdasatir6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdasatir6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdasatir6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdasatir7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdasatir7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdasatir7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdasatir8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdasatir8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdasatir8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdasatir9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdasatir9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdasatir9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaBaslik1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaBaslik1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaBaslik1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaBilgi1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaBilgi1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaBilgi1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaBilgi2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaBilgi2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaBilgi2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaBaslik2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaBaslik2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaBaslik2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaBaslik3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaBaslik3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaBaslik3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaBilgi3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaBilgi3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaBilgi3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaBaslik4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaBaslik4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaBaslik4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaBilgi4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaBilgi4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaBilgi4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaBaslik5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaBaslik5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaBaslik5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hakkimizdaBilgi5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hakkimizdaBilgi5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hakkimizdaBilgi5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
