@model Otelwebsitesi.Models.hakkimizda

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>hakkimizda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdaBilgi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdaBilgi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdaResim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdaResim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdaBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdaBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdasatir1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdasatir1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdasatir2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdasatir2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdasatir3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdasatir3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdasatir4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdasatir4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdasatir5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdasatir5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdasatir6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdasatir6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdasatir7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdasatir7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdasatir8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdasatir8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdasatir9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdasatir9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdaBaslik1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdaBaslik1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdaBilgi1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdaBilgi1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdaBilgi2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdaBilgi2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdaBaslik2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdaBaslik2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdaBaslik3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdaBaslik3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdaBilgi3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdaBilgi3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdaBaslik4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdaBaslik4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdaBilgi4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdaBilgi4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdaBaslik5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdaBaslik5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakkimizdaBilgi5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakkimizdaBilgi5)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.hakkimizdaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
