@model IEnumerable<Otelwebsitesi.Models.odalardetay>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.odalardetayBilgi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.odalarımız.odaTürü)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.odalardetayBilgi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.odalarımız.odaTürü)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.odalardetayID }) |
            @Html.ActionLink("Details", "Details", new { id=item.odalardetayID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.odalardetayID })
        </td>
    </tr>
}

</table>
